include ./mixins.pug
doctype html
html(lang="ru-RU")
  head
    meta(charset="utf-8")
    meta(name="author", content="Максим Рожков")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Cloud capital
  body
    +logo#logo
    svg#svg(width="800", height="500")
