::selection { background: #faec73; }

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #f1f2f3;
	color: #333;
	font-family: Helvetica, Arial, Verdana, sans-serif;
	font-size: 14px;
	text-align: center;
	margin: auto;
	min-height: 100vh;
	transition: background-color 1s ease-in-out;
	@media (prefers-color-scheme: dark) { background-color: #243241; }
}

// #logo {
// 	margin: 10px auto 0px;
// 	width: 100%;
// 	max-width: 250px;
// }

#svg {
	max-width: 700px;
	border-radius: 6px;
	transition: background-color 1s ease-in-out, fill 1s ease-in-out;
	fill: #08c;
	background: rgba(255, 255, 255, .1);
	@media (prefers-color-scheme: dark) { fill: #fff; }
}
