::selection { background: #faec73; }

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #f1f2f3;
	color: #333;
	font-family: Helvetica, Arial, Verdana, sans-serif;
	font-size: 14px;
	text-align: center;
	margin: auto;
	min-height: 100vh;
}

#logo {
	margin: 10px auto 0px;
	width: 100%;
	max-width: 433px;
	height: 220px;
}

#svg {
	border-radius: 6px;
	background: #fff;
	fill: #08c;
}
